@media (max-width: 1200px)

  header .top, nav
    max-width: 960px


@media (max-width: 992px)

  header .top, nav
    max-width: 700px

  header
    & .top
      padding-top: 30px
      padding-bottom: 30px
      & form
        margin-left: auto
        max-width: 340px
    & .menu
      height: 60px
      & nav
        & a
          font-size: 12px
          line-height: 15px


@media (max-width: 768px)
 
  header .top, nav
    max-width: 576px

