@media (max-width: 1200px)

  header .top, nav
    max-width: 960px


@media (max-width: 992px)

  header .top, nav
    max-width: 700px

  header
    & .top
      padding-top: 30px
      padding-bottom: 30px
      & .logo
        width: 132px
      & form
        margin-left: auto
        & input
         width: 340px
    & .menu
      height: 60px
      & nav
        & a
          font-size: 12px
          line-height: 15px


@media (max-width: 768px)
 
  header .top, nav
    max-width: 576px

  header
    & .top
      & .logo
        width: 99px
      & form, & .user
        display: none
      & .menuIcon
        display: block
        cursor: pointer
    & .menu
      display: none


@media (max-width: 576px)
  header .top, nav
    max-width: 280px