header
  background-color: #fff
  & .top
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 40px
    padding-bottom: 50px

    & form
      display: flex
      position: relative
      overflow: hidden
      height: 40px
      border-radius: 6px
      margin-left: 108px
      margin-right: auto

      & input
        width: 350px
        height: 100%
        padding-left: 23px
        padding-right: 75px
        background-color:#F5FAFE
        border: none
        font-size: 12px
        line-height: 15px
        color: $text-color
        
      & button
        position: absolute
        top: 0
        right: 0
        width: 65px
        height: 100%
        border: none
        background-color: $primary
    & a
      display: flex
      align-items: center
      text-decoration: none
      & .logo
        max-width: 177px
      & .avatar
        height: 40px
        width: 40px
        border-radius: 50%
        object-fit: cover
      & span
        font-size: 14px
        line-height: 18px
        color: $text-color
        margin-left: 18px
  & .menu
    background-color: $dark
    height: 80px
    & nav
      height: 100%
      display: flex
      justify-content: space-between
      align-items: center
      & a
        color: #FFFFFF
        text-decoration: none
        text-transform: uppercase
        font-size: 14px
        line-height: 18px

