.hotel
   padding-top: 23px
   padding-bottom: 70px
   // max-width: 1110px
   &-info
      display: flex
      align-items: center
      justify-content: space-between
      padding-bottom: 20px
      .right
         max-width: 65px
         height: 45px
         background-color: $primary
         border-radius: 4px
         text-align: center
         span:first-child
            font-size: 8px
            line-height: 10px
            color: white
         span
            font-size: 14px
            line-height: 18px
            color: white
      .left
         p
            font-size: 12px
            line-height: 15px
            margin: 0
         .hotel-wrapper
            display: flex
            flex-wrap: wrap
            align-items: center
            span
               font-size: 10px
               line-height: 13px
               padding: 4px 9px
               background-color: $primary
               border-radius: 3px
               color: white
               margin-left: 14px
               margin-top: 4px

            h1
               font-size: 24px
               line-height: 30px
               margin-top: 4px
               margin-bottom: 0
            .stars
               flex-basis: 100%
.swiper
   width: 100%
   height: 100%
   position: relative
   border-radius: 8px
   &::after
      content: ''
      position: absolute
      width: 100%
      height: 100%
      top: 0
      bottom: 0
      right: 0
      left: 0
      background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
      z-index: 10
   &-button-prev1, &-button-next1
      width: 30px
      height: 30px
      border: none
      position: absolute
      top: 50%
      transform: translateY(50)
      cursor: pointer
      z-index: 99
      background-repeat: no-repeat
      background-position: center
      background-size: 10px
   &-button-next1
      right: 18px
      background-image: url(../img/arrow-next.svg)

   &-button-prev1
      left: 18px
      background-image: url(../img/arrow-prev.svg)
.slider
   width: 728px
   height: 450px
.hotel-grid
   display: flex
   justify-content: space-between
.booking
   border-radius: 8px
   width: 350px
   min-height: 210px
   padding: 28px
   background-color: $dark
   color: white
   &-info
      display: flex
      justify-content: space-between
      margin-bottom: 9px
      .booking-price
         display: flex
         flex-direction: column
         span
            font-weight: 400
            font-size: 12px
            line-height: 14px
            font-family: 'Nunito'
            &:first-child
               font-size: 10px
         strong
            font-family: 'Nunito'
            font-style: normal
            font-weight: 800
            font-size: 24px
            line-height: 33px
      .person-room
         margin-top: 4px
         font-family: 'Nunito'
         font-style: normal
         font-weight: 400
         font-size: 12px
         line-height: 16px
         .guests, .rooms
            display: flex
            align-items: center
            justify-content: space-between
            min-width: 80px
            margin-bottom: 8px
   .callcenter
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 17px
      span
         font-family: 'Nunito'
         font-style: normal
         font-weight: 600
         font-size: 18px
         line-height: 25px
      a
         color: inherit
         text-decoration: none
         img
            margin-right: 8px
   button
      font-family: 'Nunito'
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 19px
      width: 100%
      min-height: 45px
      border-radius: 4px
      color: white
      background: $primary
      border: none
.hotel-wrap
   display: flex
   flex-direction: column
   justify-content: space-between
   .map
      width: 347px
      height: 213px
      background-color: gray
      border-radius: 4px
      iframe
         border-radius: 4px
